* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

.header {
  background-color: rgb(171, 183, 152);
  color: rgba(39, 56, 19, 0.995);
  font-family: "Playfair Display", serif;

  padding: 1.2vh;
  width: 100vw;
  margin-bottom: 10vh;
  text-align: center;
  font-size: 1.7rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.container1 {
  justify-content: center;
  display: flex;
  gap: -1rem;
}

nav {
  /* background-color: brown; */
  width: 23vw;
  padding: 3vh 4vw;
  font-size: 1.4vh;
  /* font-size: 0.8rem; */
  line-height: 2.1;
  height: 25vh;
  position: -webkit-sticky;
  position: sticky;
  top: 17.5vh;
  /* font-family: "Noto Serif", serif; */
  font-family: "Playfair Display", serif;
  color: rgb(7, 31, 4);
}

section {
  /* background-color: rgb(92, 105, 228); */
  background-color: rgb(149, 158, 240);
  width: 30vw;
  height: 5000px;
  margin-right: 20vw;
  font-size: 2rem;
}

footer {
  margin-bottom: 48px;
  font-size: 14px;
  color: #495057;
  font: 1em sans-serif;
  text-transform: uppercase;
}

/* Links and nav settings */

.name {
  font-size: 2.3vh;
  margin-bottom: 20px;
  /* font-weight: bold;
        font-size: 180%; */
}

.works:link,
.works:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.about-me:link,
.about-me:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.contact:link,
.contact:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.home:link,
.home:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.gallery:link,
.gallery:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.favourites:link,
.favourites:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  color: rgba(39, 56, 19, 0.995);
}

.socials {
  margin-top: 2vh;
}

.facebook {
  margin-right: 1vh;
}

.instagram {
  margin-right: 1vh;
}

/* SECTION  */

section {
  margin-top: 3rem;
  display: flex;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.drinks {
  display: flex;
  height: auto;
  margin-bottom: 5rem;
}

.drink-jpg {
  width: 10vw;
}

.knit {
  display: flex;
  height: auto;
  margin-bottom: 5rem;
}

.knit1-jpg,
.knit2-jpg,
.knit3-jpg {
  width: 10vw;
}

.dogs {
  display: flex;
  height: auto;
  margin-bottom: 5rem;
}

.dog1-jpg {
  width: 10vw;
}

.dog2-jpg {
  width: 10vw;
}

.dog3-jpg {
  width: 10vw;
}

.adam-jpg {
  width: 30vw;
  height: auto;
}
